<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="/static/css/common.css" rel="stylesheet" type="text/css">
<body>
<input type="hidden" name="curPgmNo" id="curPgmNo" value="ESM_BKG_0079">
    <form id='form'>
        <h1>Booking Creation (ESM_BKG_0079)</h1>
        <table>
            <tr>
                <td>
                    <h3>POR_CD</h3>
                    <input type='text' id='bkg_por_cd' value='VNCMP'></input>
                    <h3>POD_CD</h3>
                    <input type='text' id='bkg_pod_cd' value='USCHS'></input>
                </td>
                <td>
                    <h3>POL_CD</h3>
                    <input type='text' id='bkg_pol_cd' value='VNCMP'></input>
                    <h3>DEL_CD</h3>
                    <input type='text' id='bkg_del_cd' value='USCHS'></input>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>