<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="/static/css/common.css" rel="stylesheet" type="text/css">
<body>
<input type="hidden" name="curPgmNo" id="curPgmNo" value="ESM_BKG_0019">
    <form id='form'>
        <h1>Vessel Schedule Inquiry (ESM_BKG_0019)</h1>
        <table>
            <tr>
                <td>
                    <h3>POL_CD</h3>
                    <input type='text' id='vps_port_pol' value='KRPUS'></input>
                </td>
                <td>
                    <h3>POD_CD</h3>
                     <input type='text' id='vps_port_pod' value='NLRTM'></input>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>