<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="/static/css/common.css" rel="stylesheet" type="text/css">
<body>
<input type="hidden" name="curPgmNo" id="curPgmNo" value="FNS_INV_0031">
    <form id='form'>
        <h1>Invoice Inquiry by Date/ VVD (FNS_INV_0031)</h1>
        <table>
            <tr>
                <td>
                    <h3>VVD</h3>
                    <input type='text' name='vvd' value='ABCDEFG'></input>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>