<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
    <form>
        <h1>MENU</h1>
        <button id='ESM_BKG_0079'><a href="/screen/ESM_BKG_0079">Booking Creation</a></button>
        <button id='ESM_BKG_0019'><a href="/screen/ESM_BKG_0019">Vessel Schedule Inquiry</a></button>
    </form>
</body>
</html>
