#side-slide {
    display: none;
    position: fixed;
    top: 35px;
    right: 10px;
    width: 250px;
    height: calc(100% - 45px);
    background-color: rgba(255,255,255,0.9);
    border: 1px solid darkgray;
    border-radius: 2px;
    z-index: 999;
    overflow: auto;
}

#side-slide > div.content > div.data {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#side-slide > div.footer {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 4px;
}

#side-slide > div.footer > button{
    width: 100px;
    background-color: #74aee5;
    border: none;
    color: #fff;
    padding: 3px 11px 5px;
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 2px;
}

/*tooltip*/
.tooltip {
  display: none;
  width: 120px;
  min-height: 16px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
}
.tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}