html, body, form {
    display: block;
}

#side-slide {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 250px;
    height: 320px;
    background-color: #c1046b;
}

#side-slide > div.content > div.data {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#side-slide > div.footer {
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#side-slide > div.footer > button{
    width: 100px;
    background-color: white;
    border: none;
    color: black;
    padding: 15px 0;
    text-align: center;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
}